In [4]:
import pandas as pd
import numpy as np

In [5]:
users = pd.DataFrame({
    'id': [1, 2, 3, 4, 5, 6],
    'name': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})

In [6]:
roles = pd.DataFrame({
    'id': [1, 2, 3, 4],
    'name': ['admin', 'author', 'reviewer', 'commenter']
})

### 4.What happens if you drop the foreign keys from the DataFrames and try to merge them?

In [7]:
users

   id   name  role_id
0   1    bob      1.0
1   2    joe      2.0
2   3  sally      3.0
3   4   adam      3.0
4   5   jane      NaN
5   6   mike      NaN

In [8]:
roles

   id       name
0   1      admin
1   2     author
2   3   reviewer
3   4  commenter

In [9]:
#it joins both dataframes using id or name  as a foreign key. You can see  the role names are under name.
users.merge(roles, how='outer', indicator=True)

   id       name  role_id      _merge
0   1        bob      1.0   left_only
1   2        joe      2.0   left_only
2   3      sally      3.0   left_only
3   4       adam      3.0   left_only
4   5       jane      NaN   left_only
5   6       mike      NaN   left_only
6   1      admin      NaN  right_only
7   2     author      NaN  right_only
8   3   reviewer      NaN  right_only
9   4  commenter      NaN  right_only

### What if there are not columns in common ?

In [10]:
users2 = pd.DataFrame({
    'id_user': [1, 2, 3, 4, 5, 6],
    'names': ['bob', 'joe', 'sally', 'adam', 'jane', 'mike'],
    'role_id': [1, 2, 3, 3, np.nan, np.nan]
})

In [11]:
users2

   id_user  names  role_id
0        1    bob      1.0
1        2    joe      2.0
2        3  sally      3.0
3        4   adam      3.0
4        5   jane      NaN
5        6   mike      NaN

In [ ]:
roles

In [13]:
users2.merge(roles, how='outer', indicator=True)

MergeError: No common columns to perform merge on. Merge options: left_on=None, right_on=None, left_index=False, right_index=False